button {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: 1px solid var(--accent-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5rem;
  font-weight: bold;
}
