nav {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
}

.navitens {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.socialLinks {
  position: absolute;
  left: 0;
}
.socialLinks a {
  margin: 0.4rem;
}
.socialLinks a img {
  width: 2rem;
}

.centerImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerImage img {
  width: 6rem;
}

.navitens button {
  position: absolute;
  right: 22vw;
  display: flex;
}

.internalLinks {
  position: absolute;
  right: 0;
  display: flex;
}

.internalLinks h2 {
  font-size: 1rem;
}

.internalLinks a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 1rem;
}

.internalLinks a:hover {
  color: var(--accent-color);
}

.menuToggle {
  display: none;
  background: none;
  color: #fff;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.sidebarOpen {
  display: flex;
}

.theme-toggle {
  background: none;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.theme-toggle:hover {
  background-color: var(--accent-color);
  color: var(--background-color);
}

@media screen and (max-width: 768px) {
  .navitens {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .centerImage {
    display: flex;
    align-items: center;
    margin: auto;
  }

  .socialLinks {
    display: block;
  }

  .internalLinks {
    display: none; /* Oculta os elementos desnecessários no sidebar */
  }

  .navitens button {
    position: absolute;
    right: 2vw;
    display: flex;
  }

  .theme-toggle:hover {
    background-color: var(--background-color);
    color: var(--accent-color);
  }
}
